<!--Styling-->
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        background-color: #4194ff;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    div {
        border-radius: 5px;
        background-color: #e6e6e6;
        padding: 40px;
    }
    l {
        color: dodgerblue;
    }
</style>


SRA / SRX / SRP / GSE / GSM number
<input type="text" name="sranum" #sra>
<button (click)="getsra(sra.value)" id ='button1'>RETRIEVE</button>

<ul *ngIf="output">
    <input type = "checkbox" (change) = select_all($event,output)>
    SELECT ALL RECORDS
    <button class="button" (click) ="Selected()">SUBMIT TO DATABASE</button>
</ul>
<!--Displaying input-->

<ul *ngIf="output?.length >1 ">
    <tr *ngFor="let item of output; #i = index">
        <div class="field">

            <input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY, i, $event,'assay_type')">

            <l>ASSAY TYPE: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY| displaypipe}}<br>

            <input #{{item?.EXPERIMENT?.alias}} [ngModel] = 'item?.EXPERIMENT?.alias?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.alias, i, $event, 'bio_project')">

            <l>BIOPROJECT: </l>{{item?.EXPERIMENT?.alias | displaypipe}}<br>

            <l>CENTRE NAME: </l>{{item?.EXPERIMENT?.center_name | displaypipe}}<br>

            <input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION, i, $event, 'lib_select')">

            <l>LIBRARY SELECTION: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION | displaypipe}}<br>

            <l>LIBRARY SOURCE: </l>{{item?.EXPERIMENT?.DESIGN.LIBRARY_DESCRIPTOR?.LIBRARY_SOURCE | displaypipe}}<br>

            <input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT, i, $event, 'lib_layout')">

            <l>LAYOUT: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT | displaypipe | layoutpipe}}<br>

            <input #{{item?.RUN_SET?.RUN?.accession}} [ngModel] = 'item?.RUN_SET?.RUN?.accession?.selected' type="checkbox" (change)="checkbox(item?.RUN_SET?.RUN?.accession, i, $event, 'run_accession')">

            <l>RUN ACCESSION: </l><a href = "{{'ftp://ftp-trace.ncbi.nlm.nih.gov/sra/sra-instant/reads/ByRun/sra/'+(item?.RUN_SET?.RUN?.accession | displaypipe | linkpipe: 3)+'/'+(item?.RUN_SET?.RUN?.accession | displaypipe | linkpipe: 6)+'/'+(item?.RUN_SET?.RUN?.accession | displaypipe)+ '/'+(item?.RUN_SET.RUN.accession | displaypipe)+ '.sra'}}">{{item.RUN_SET.RUN.accession | displaypipe}}</a>
            <br>
    <tr *ngFor="let value of item.SAMPLE.SAMPLE_ATTRIBUTES.SAMPLE_ATTRIBUTE; #j = index">
        {{value?.TAG+ ': '}}{{value?.VALUE}}<br> </tr>

    <input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL, i, $event, 'protocol')">

    <l>PROTOCOL: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL}}<br>

    <input #{{item?.Pool?.Member?.organism}} [ngModel] = 'item?.Pool?.Member?.organism?.selected' type="checkbox" (change)="checkbox(item?.Pool?.Member?.organism, i, $event, 'organism')">
        <l>ORGANISM: </l>{{item?.Pool?.Member?.organism}} <br>


            <l> SUBMISSION ACCESSION: </l>{{item?.SUBMISSION?.accession}} <br>
                <l>SUBMISSION ALIAS: </l>{{item?.SUBMISSION?.alias}} <br>
    </div>
<br>
    </tr>
</ul>




<ul *ngIf="!(output | isarray) && output">
    <div class="field">
        <input #{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY}} [ngModel] = 'output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY.selected' type="checkbox" (change)="checkbox(output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY, 0, $event,'assay_type')">

        <l>ASSAY TYPE: </l>{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY| displaypipe}}<br>
        <input #{{output?.EXPERIMENT?.alias}} [ngModel] = 'output?.EXPERIMENT?.alias?.selected' type="checkbox" (change)="checkbox(output?.EXPERIMENT?.alias, 0, $event, 'bio_project')">

        <l>BIOPROJECT: </l>{{output?.EXPERIMENT?.alias | displaypipe}}<br>

        <l>CENTRE NAME: </l>{{output?.EXPERIMENT?.center_name | displaypipe}}<br>

        <input #{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION}} [ngModel] = 'output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION.selected' type="checkbox" (change)="checkbox(output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION, 0, $event, 'lib_select')">

        <l>LIBRARY SELECTION: </l>{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION | displaypipe}}<br>

        <l>LIBRARY SOURCE: </l>{{output?.EXPERIMENT?.DESIGN.LIBRARY_DESCRIPTOR?.LIBRARY_SOURCE | displaypipe}}<br>

        <input #{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT}} [ngModel] = 'output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT.selected' type="checkbox" (change)="checkbox(output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT, 0, $event, 'lib_layout')">

        <l>LAYOUT: </l>{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT | displaypipe | layoutpipe}}<br>

        <input #{{output?.RUN_SET?.RUN?.accession}} [ngModel] = 'output?.RUN_SET?.RUN?.accession?.selected' type="checkbox" (change)="checkbox(output?.RUN_SET?.RUN?.accession, 0, $event, 'run_accession')">

        <l>RUN ACCESSION: </l><a href = "{{'ftp://ftp-trace.ncbi.nlm.nih.gov/sra/sra-instant/reads/ByRun/sra/'+(output?.RUN_SET?.RUN?.accession | displaypipe | linkpipe: 3)+'/'+(output?.RUN_SET?.RUN?.accession | displaypipe | linkpipe: 6)+'/'+(output?.RUN_SET?.RUN?.accession | displaypipe)+ '/'+(output?.RUN_SET.RUN.accession | displaypipe)+ '.sra'}}">{{output?.RUN_SET.RUN.accession | displaypipe}}</a><br>
        <tr *ngFor="let value of output?.SAMPLE.SAMPLE_ATTRIBUTES.SAMPLE_ATTRIBUTE; #j = index">
            {{value?.TAG + ': '}}{{value?.VALUE}}<br> </tr>

        <input #{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL}} [ngModel] = 'output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL?.selected' type="checkbox" (change)="checkbox(output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL, 0, $event, 'protocol')">

        <l>PROTOCOL: </l>{{output?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL}}<br>

        <input #{{output?.Pool?.Member?.organism}} [ngModel] = 'output?.Pool?.Member?.organism?.selected' type="checkbox" (change)="checkbox(output?.Pool?.Member?.organism, 0, $event, 'organism')">

        <l>ORGANISM: </l>{{output?.Pool?.Member?.organism}} <br>

        <l> SUBMISSION ACCESSION: </l>{{output?.SUBMISSION?.accession}} <br>
        <l>SUBMISSION ALIAS: </l>{{output?.SUBMISSION?.alias}} <br>

    </div>
</ul>


