<!--Styling-->
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        background-color: #4194ff;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    div[class=field]{
        border-radius: 5px;
        background-color: #e6e6e6;
        padding: 40px;
    }
    l {
        color: dodgerblue;
    }
    div[class = squaredTwo]{

    }
</style>
<ui-form #form></ui-form>

<div *ngIf="form.selected_grp_id">
SRA / SRP / GSM / ERP number
<input type="text" name="sranum" (keyup.enter)="getsra(sra.value,form.selected_lab_id, form.selected_grp_id)" #sra>
<button (click)="getsra(sra.value,form.selected_lab_id, form.selected_grp_id)" #button1 id ='button1'>RETRIEVE</button>
</div>

<tr *ngIf="(!(output == null)||(gross == null))">
    <input type = "checkbox" (change) = select_all($event,output)>
    SELECT ALL RECORDS
<button class="button" (click) ="Selected()">WRITE RECORDS TO DATABASE</button>
</tr>
<!--Displaying Loading-->
<div *ngIf ="(!(output) && (!error_flag))" >
    <loading-indicator></loading-indicator>
</div>

<!--Error Diplay-->
<div *ngIf = "error_flag">
    RECORD not available
</div>

<ul *ngIf="output?.length > 0 ">
    <tr *ngFor="let item of output; #i = index">
        <div class="field">

            <section title=".squaredTwo">
                <!-- .squaredTwo -->
                    <input type="checkbox" #{{item}} [ngModel] = 'item?.selected' type="checkbox" (change)="checkbox(item, i, $event)" />
                    <label for="squaredTwo"></label>
                <!-- end .squaredTwo -->
            </section>
            <!--<input #{{item}} [ngModel] = 'item?.selected' type="checkbox" (change)="checkbox(item, i, $event)">-->

            <l>ASSAY TYPE: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_STRATEGY| displaypipe}}<br>

            <!--<input #{{item?.EXPERIMENT?.alias}} [ngModel] = 'item?.EXPERIMENT?.alias?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.alias, i, $event, 'bio_project')">-->

            <l>BIOPROJECT: </l>{{item?.EXPERIMENT?.alias | displaypipe}}<br>

            <l>CENTRE NAME: </l>{{item?.EXPERIMENT?.center_name | displaypipe}}<br>

            <!--<input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION, i, $event, 'lib_select')">-->

            <l>LIBRARY SELECTION: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_SELECTION | displaypipe}}<br>

            <l>LIBRARY SOURCE: </l>{{item?.EXPERIMENT?.DESIGN.LIBRARY_DESCRIPTOR?.LIBRARY_SOURCE | displaypipe}}<br>

            <!--<input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT, i, $event, 'lib_layout')">-->

            <l>LAYOUT: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_LAYOUT | displaypipe | layoutpipe}}<br>

            <!--<input #{{item?.RUN_SET?.RUN?.accession}} [ngModel] = 'item?.RUN_SET?.RUN?.accession?.selected' type="checkbox" (change)="checkbox(item?.RUN_SET?.RUN?.accession, i, $event, 'run_accession')">-->

            <l>RUN ACCESSION: </l>
                <ab *ngIf="!(item?.RUN_SET?.RUN | isarray)">
            <a href = "{{'ftp://ftp-trace.ncbi.nlm.nih.gov/sra/sra-instant/reads/ByRun/sra/'+(item?.RUN_SET?.RUN?.accession | displaypipe | linkpipe: 3)+'/'+(item?.RUN_SET?.RUN?.accession | displaypipe | linkpipe: 6)+'/'+(item?.RUN_SET?.RUN?.accession | displaypipe)+ '/'+(item?.RUN_SET.RUN.accession | displaypipe)+ '.sra'}}">{{item.RUN_SET.RUN.accession | displaypipe}}</a>
                 </ab>
            <ab *ngIf = "(item?.RUN_SET?.RUN | isarray)">
                ARRAY OF RUNS

            </ab>
            <br>
    <tr *ngFor="let value of item.SAMPLE.SAMPLE_ATTRIBUTES.SAMPLE_ATTRIBUTE; #j = index">
    <l>{{value?.TAG+ ': ' | uppercase}}</l>{{value?.VALUE}}<br> </tr>

    <!--<input #{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL}} [ngModel] = 'item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL?.selected' type="checkbox" (change)="checkbox(item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL, i, $event, 'protocol')">-->

    <l>PROTOCOL: </l>{{item?.EXPERIMENT?.DESIGN?.LIBRARY_DESCRIPTOR?.LIBRARY_CONSTRUCTION_PROTOCOL}}<br>

    <!--<input #{{item?.Pool?.Member?.organism}} [ngModel] = 'item?.Pool?.Member?.organism?.selected' type="checkbox" (change)="checkbox(item?.Pool?.Member?.organism, i, $event, 'organism')">-->
        <l>ORGANISM: </l>{{item?.Pool?.Member?.organism}} <br>


            <l> SUBMISSION ACCESSION: </l>{{item?.SUBMISSION?.accession}} <br>
                <l>SUBMISSION ALIAS: </l>{{item?.SUBMISSION?.alias}} <br>
    </div>
<br>
    </tr>
</ul>


